/.venv/
.idea
files/address.txt
files/name.txt
files/a.txt
files/b.txt
files/c.txt
files/question.json
files/fathers_name.txt
files/weather.csv
files/members.txt
files/Temperature.txt
Archive_directory
Journal
feet_inches_to_meter_functions.py
making_my_first_zipfile.zip
modules_examples.py
practice.py
password.py
making_zip_file.py